In [52]:
from tqdm.auto import tqdm

In [26]:
import pandas as pd
from sqlalchemy import create_engine

In [39]:
# Read a sample of the data
url = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz'
df = pd.read_csv(url, nrows=100)

In [40]:
# Display first rows
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [41]:
# Check data types
df.dtypes

VendorID                   int64
tpep_pickup_datetime         str
tpep_dropoff_datetime        str
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag           str
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [42]:
# Check data shape
df.shape

(100, 18)

In [43]:
engine = create_engine('postgresql+psycopg://root:root@localhost:5432/ny_taxi')

In [44]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [45]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime         str
tpep_dropoff_datetime        str
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag           str
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [46]:
df.dtypes

VendorID                   int64
tpep_pickup_datetime         str
tpep_dropoff_datetime        str
passenger_count            int64
trip_distance            float64
RatecodeID                 int64
store_and_fwd_flag           str
PULocationID               int64
DOLocationID               int64
payment_type               int64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
improvement_surcharge    float64
total_amount             float64
congestion_surcharge     float64
dtype: object

In [47]:
df.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [48]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [49]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [53]:
print("Starting ingestion from URL:", url)

df_iter = pd.read_csv(
    url,
    chunksize=100000,
    compression='gzip',
    dtype={
        'VendorID': 'Int64',
        'passenger_count': 'Int64',
        'RatecodeID': 'Int64',
        'store_and_fwd_flag': str,
        'PULocationID': 'Int64',
        'DOLocationID': 'Int64',
        'payment_type': 'Int64'
    },
    parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime'],
    on_bad_lines='warn'  # helpful for any parsing issues
)

print("Creating table from first chunk schema...")

first_chunk = None
try:
    first_chunk = next(df_iter)
except StopIteration:
    print("Iterator empty — no data loaded from URL")
except Exception as e:
    print("Error advancing iterator:", str(e))

if first_chunk is not None and not first_chunk.empty:
    # Create table schema
    first_chunk.head(0).to_sql(
        name="yellow_taxi_data",
        con=engine,
        if_exists="replace",
        index=False
    )
    print("Table created / schema set")

    # Insert first chunk
    first_chunk.to_sql(
        name="yellow_taxi_data",
        con=engine,
        if_exists="append",
        index=False
    )
    print(f"Inserted first chunk: {len(first_chunk)} rows")

    # Remaining chunks
    chunk_count = 1
    for chunk in tqdm(df_iter, desc="Inserting chunks"):
        chunk.to_sql(
            name="yellow_taxi_data",
            con=engine,
            if_exists="append",
            index=False
        )
        print(f"Inserted chunk {chunk_count}: {len(chunk)} rows")
        chunk_count += 1
else:
    print("No data found — check network, URL, or try downloading locally.")

Starting ingestion from URL: https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz
Creating table from first chunk schema...
Table created / schema set
Inserted first chunk: 100000 rows

Inserting chunks: 0it [00:00, ?it/s]

Inserted chunk 1: 100000 rows
Inserted chunk 2: 100000 rows
Inserted chunk 3: 100000 rows
Inserted chunk 4: 100000 rows
Inserted chunk 5: 100000 rows
Inserted chunk 6: 100000 rows
Inserted chunk 7: 100000 rows
Inserted chunk 8: 100000 rows
Inserted chunk 9: 100000 rows
Inserted chunk 10: 100000 rows
Inserted chunk 11: 100000 rows
Inserted chunk 12: 100000 rows
Inserted chunk 13: 69765 rows